html, body {
    height: 100%;
    width:100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.cover {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.laikaImage {
    display: block;
    width: 400px;
    height: 600px;
    z-index: 1;
}

.laikaSnow {
    position: absolute;
    width: 400px;
    height: 600px;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.laikaTitle {
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 2.5s;
}

.laikaDog {
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 2;
    top: 18px;
    left: 50px;
    animation: fadeIn 5s ease-out forwards;
}

.rocket {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 400px;
    height: 600px;
    z-index: 1; 
  }

.laikaRocket {
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 1;
    top: 10px;
    left: 0px;

}

.laikaRocket2 {
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 2;
    top: 10px;
    left: 0px;

}

.rocketFlame {
    position: absolute;
    top: 150px;
    left: 30px; 
    width: 20px;
    height: 60px;
    z-index: 1;
  
    background: radial-gradient(ellipse at center, rgb(255, 101, 5) 0%, rgba(255, 0, 0, 0) 80%);
    border-radius: 50%;
  
    opacity: 0.8;
    filter: blur(2px);
  
    animation: flameFlicker 0.2s infinite ease-in-out;
}
  

.cover:hover .rocket {
    top:288px;
    animation: rocketMove 5s ease-in-out forwards;
    animation-fill-mode: forwards;
}

.cover:hover .rocketGroup {
    animation: rocketMove 5s ease-in-out forwards;
  }

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    animation: twinkle 2s infinite ease-out;
}

.s1 {
    top: 18.5px;
    left: 18.5px;
    width: 3px;
    height: 3px;
    animation-delay: 0s; 
    animation-duration: 3s;
}

.s2 {
    top: 90.5px;
    left: 13.5px;
    width: 2px;
    height: 2px;
    animation-delay: 2s; 
    animation-duration: 4.5s;
}

.s3 {
    top: 86.5px;
    left: 68.5px;
    width: 4px;
    height: 4px;
    animation-delay: 1s; 
    animation-duration: 1.5s;
}

.s4 {
    top: 9.8px;
    left: 71.5px;
    width: 2px;
    height: 2px;
    animation-delay: 2s; 
    animation-duration: 3s;
}

.s5 {
    top: 29.6px;
    left: 77.5px;
    width: 3px;
    height: 3px;
    animation-delay: 2s; 
    animation-duration: 2s;
}

.s6 {
    top: 26.8px;
    left: 101.8px;
    width: 3px;
    height: 3px;
    animation-delay: 3s; 
    animation-duration: 2s;
}

.s7 {
    top: 52.8px;
    left: 114.5px;
    width: 2px;
    height: 2px;
    animation-delay: 2s; 
    animation-duration: 6s;
}

.s8 {
    top: 106.4px;
    left: 115.8px;
    width: 3px;
    height: 3px;
    animation-delay: 1.5s; 
    animation-duration: 2.5s;
}

.s9 {
    top: 104.2px;
    left: 124.8px;
    width: 3px;
    height: 3px;
    animation-delay: 3.3s; 
    animation-duration: 3.3s;
}

.s10 {
    top: 60.5px;
    left: 161px;
    width: 3px;
    height: 3px;
    animation-delay: 2.7s; 
    animation-duration: 3.2s;
}

.s11 {
    top: 11.5px;
    left: 158.4px;
    width: 3px;
    height: 3px;
    animation-delay: 3.2s; 
    animation-duration: 2s;
}

.s12 {
    top: 19.5px;
    left: 176.4px;
    width: 3px;
    height: 3px;
    animation-delay: 5.4s; 
    animation-duration: 2s;
}

.s13 {
    top: 61.5px;
    left: 207.4px;
    width: 3px;
    height: 3px;
    animation-delay: 2s; 
    animation-duration: 1.5s;
}

.s14 {
    top: 32.5px;
    left: 238.8px;
    width: 3px;
    height: 3px;
    animation-delay: 1.3s; 
    animation-duration: 3.2s;
}

.s15 {
    top: 63px;
    left: 255.2px;
    width: 3px;
    height: 3px;
    animation-delay: 2.5s; 
    animation-duration: 1.3s;
}

.s16 {
    top: 25px;
    left: 276.5px;
    width: 3px;
    height: 3px;
    animation-delay: 1.2s; 
    animation-duration: 1.7s;
}

.s17 {
    top: 41px;
    left: 297.2px;
    width: 3px;
    height: 3px;
    animation-delay: 5.4s; 
    animation-duration: 4.3s;
}

.s18 {
    top: 27px;
    left: 325.5px;
    width: 3px;
    height: 3px;
    animation-delay: 4.3s; 
    animation-duration: 5s;
}

.s19 {
    top: 53.5px;
    left: 325px;
    width: 3px;
    height: 3px;
    animation-delay: 2.1s; 
    animation-duration: 3s;
}

.s20 {
    top: 83.5px;
    left: 314.5px;
    width: 3px;
    height: 3px;
    animation-delay: 4.6s; 
    animation-duration: 2.1s;
}

.s21 {
    top: 90.5px;
    left: 353px;
    width: 3px;
    height: 3px;
    animation-delay: 2.1s; 
    animation-duration: 2.5s;
}

.s22 {
    top: 85px;
    left: 363px;
    width: 3px;
    height: 3px;
    animation-delay: 1.3s; 
    animation-duration: 2s;
}

.s23 {
    top: 46px;
    left: 350px;
    width: 3px;
    height: 3px;
    animation-delay: 3s; 
    animation-duration: 3s;
}

.s24 {
    top: 22px;
    left: 376.5px;
    width: 3px;
    height: 3px;
    animation-delay: 0s; 
    animation-duration: 3s;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
}

@keyframes twinkle {
    0%, 100% {
      opacity: 0.5;
      filter: brightness(80%);
      transform: scale(1);
    }
    50% {
      opacity: 1;
      filter: brightness(150%);
      transform: scale(3);
    }
}

@keyframes rocketMove {
    0% {
        top: 288px;
        left: 0px;
    }
    100% {
        top: 10px;
        left: 0px;
    }
}

@keyframes rocketMoveFast {
    0% {
        top: 288px;
        left: 0px;
    }
    100% {
        top: 10px;
        left: 0px;
    }
}

@keyframes flameFlicker {
    0% {
      transform: scaleY(1);
      opacity: 0.8;
      filter: blur(1px);
    }
    50% {
      transform: scaleY(1.5);
      opacity: 1;
      filter: blur(4px);
    }
    100% {
      transform: scaleY(1);
      opacity: 0.7;
      filter: blur(1px);
    }
}